@import '../../index.scss';

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    padding: calc(2vw + 10px) calc(1.5vw + 10px);
    gap: calc(1vh + 8px);
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fieldContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.columnContainer {
    display: flex;
    width: 100%;
}

.selector {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;

    &:focus {
        outline: none;
        border-color: #007bff; 
    }
}

.buttonContainer {
    display: flex;
    gap: calc(1vw + 10px);
    padding-top: 5vh;
    width: 100%;
}

.textArea {
    resize: none; 
    padding: 8px; 
    border-radius: 8px; 
    border: 1px solid #ccc; 
    background-color: white; 
    &:focus {
        outline: none;
        border-color: #007bff; 
    }
    width: 100%; 
    box-sizing: border-box;
    height: calc(10vh + 10px);
}

.uploadImagesContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: calc(0.4vw + 8px);
    padding-block: 1vh;
}