@import '../../index.scss';

.container {
    min-height: 100vh;
    background-color: map-get(map-get($colors, "gray"), "200");
    padding: 5vh 10vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.searchResults {
    display: flex;
    flex-direction: column;
    gap: calc(2vh + 6px);
    width: 100%;
}

.contentContainer {
    display: flex;
    gap: 3vw;
}

.filterMenu {
    width: 30%;
}

.paginationContainer {
    display: flex;
    gap: calc(1vw + 4px);
}

.resultsPerPageDropdown {
    display: flex;
    align-items: center;
    gap: calc(0.3vw + 4px);
}

.upwardDropdown {
    width: 3vw;
    height: 2vw;
    border-style: 1px solid transparent;
    border-radius: 12px;
    cursor: pointer;
    padding: 0.5em;

    &:focus {
        outline: none; 
        border-color: map-get(map-get($colors, "blue"), "300") ;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
}