@import '../../index.scss';

.container {
    display: flex;
    background-color: white;
    width: calc(100% - 1vw - 8px);
    padding: calc(1vw + 8px);
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.flightInfoContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.airlineName {
    font-weight: 600;
    gap: 1vw;
    display: flex;
    align-items: center;

    img {
        width: 3vw;
        object-fit: cover;
    }
}

.timeContainer {
    display: flex;
    justify-content: space-between;
    padding-block: 1vh;
    width: 30%;
    align-items: center;

    .timePlaceholder {
        display: flex;
        flex-direction: column;
        gap: 0.8vh;
        align-items: center;

        .timeBold {
            font-weight: 600;
            font-size: 1.5rem;
        }

        .airportCode {
            font-weight: 400;
            color: rgba(black, 0.5);
        }
    }

    .durationContainer {
        display: flex;
        flex-direction: column;
        align-items: center;


        .airplaneLogo {
            font-weight: 600;
            font-size: 1.2rem;
        }

        .duration {
            font-size: 1rem;
        }
    }
}

.priceAndButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    justify-content: center;
    gap: 2vh;

    .priceContainer {
        display: flex;
        align-items: center;
        .price {
            color: map-get(map-get($colors, "orange"), "500");
            font-weight: 600;
            font-size: 1.4rem;
            display: flex;
        }

        .perPerson {
            font-size: 1rem;
            color: black;
        }
    }

    .buttonContainer {
        width: 100%;
        display: flex;
        justify-content: end;
    }

}

.discountBar {
    display: flex;
    gap: calc(0.2vw + 6px);
    font-size: 0.7rem;
    font-weight: 600;
    align-items: center;

    .redBg {
        background-color: map-get($map: map-get($colors, "red"), $key: "600");
        display: flex;
        padding: calc(0.2vw + 3px);
        border-radius: 12px;
        color: white;
    }

    .purpleBg {
        background-color: map-get($map: map-get($colors, "purple"), $key: "600");
        display: flex;
        padding: calc(0.2vw + 3px);
        border-radius: 12px;
        color: white;
    }

    .departureDate {
        font-size: 1.1rem;
    }
}

.seatContainer {
    font-size: 1.4rem;
    color:  map-get($map: map-get($colors, "blue"), $key: "400");
}