@import "../../index.scss";

.navSearch {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: calc(10px + 1vw);
  padding-block: calc(6px + 1vh);
  border-radius: 16px;
  background-color: white;
  z-index: 20;
  width: fit-content;
}

.navLinks {
  display: flex;
  gap: calc(8px + 0.8vw);
  align-items: center;
}

.navLinkSelected {
  position: relative;
  font-weight: 600;
  padding-bottom: 3px;
  color: map-get(
    map-get($colors, "blue"),
 "500");
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: map-get(
      map-get($colors, "blue"),
      "500"
    ); 
    border-radius: 1px; 
  }
}

.searchContainer {
    margin-top: calc(-1 * (2vh + 8px));
    width: 70vw;
    background-color: map-get(map-get($colors, "gray"), "200");
    border-radius: 16px;
    z-index: 15;
    padding: 2rem;
}

.hotelSearchForm {
    display: flex;
    flex-direction: column;
    gap:  map-get($spacings, "1");
    width: 100%;
    gap: 1rem;
}

.submitBtn {
    width: 100%;
    padding-block: calc(8px + 0.5vh);
    border-radius: 16px;
    font-weight: 600;
    cursor: pointer;
}

.flightSearchForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.searchRow {
    display: flex;
    justify-content: flex-start;
    gap: 1.7rem;
}

.flightSearchLocation {
    width: 47%;
}

.container {
  padding: calc(8px + 1vh) 10vw;
  display: flex;
  flex-direction: column;
}

.headerIcon {
  display: flex;
  gap: calc(4px + 0.1vw);
  align-items: center;
}

.hotelsContainer {
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 105;
  top: calc(16px + 5vh);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.searchBarContainer {
  position: relative;
  width: 100%;
}

.searchHeader {
  font-size: 1rem;
  font-weight: 600;
  padding: calc(0.1vw + 4px);
  background-color: map-get(map-get($colors, "gray"), "100");
}

.darkBackdrop {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 100; 
}

.featureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(8px + 1vh) 10vw;

  .featureSubHeader {
    font-size: 1.1rem;
    color: rgba($color: #a8a8a8, $alpha: 1.0);
    font-weight: 500;
  }

  .featuresContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 5vh;
    width: 100%;

    .featureCard {
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 20vw;

      .featureIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1vw;
        border-radius: 32px;
        font-size: 2rem;
        background-color: map-get($map: map-get($colors, "gray"), $key: "300");
      }

      .featureTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }

      .featureDesc {
        text-align: center;
        font-weight: 500;
        color: map-get($map: map-get($colors, "gray"), $key: "500");
      }
    }
  }
}




