@import '../../index.scss';

.container {
    width: 100%;
    background-color: white;
    height: 27vh;
    display: flex;
}

.imagesPlaceholder {
    display: flex;
    flex-direction: column;
    width: 23%;
    gap: 0.3%;
}

.mainImage {
    width: 100%;
    height: 75%;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.otherImages {
    display: flex;
    width: 100%;
    height: 25%;
    gap: 0.4%;
}

.otherImage {
    width: 33%;
    height: auto;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: calc(1vh + 8px);
    padding: calc(0.3vw + 6px);
    width: 50%;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 1.2rem;
}

.rating {
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: map-get(map-get($colors, "blue"), "400" );
    gap: 0.1vw;
}


.icon {
    width: 40px;
    height: 40px;
}

.reviewCount {
    color: black;
    font-weight: 400;
}

.locationAndFacilities {
    display: flex;
    flex-direction: column;
    gap: 0.3vh;
}

.location {
    color: map-get(map-get($colors, "gray"), "500");
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3vw;
}

.facilities {
    display: flex;
    gap: 0.3vw;
    width: 100%;
}

.facility {
    font-size: 0.7rem;
    color: map-get(map-get($colors, "blue"), "400" );
    border-style: solid;
    border-radius: 16px;
    border-width: 1px;
    border-color: map-get(map-get($colors, "blue"), "400" );
    padding: calc(3px + 0.3vw);
    white-space:  nowrap;
}

.bookContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: calc(0.3vw + 6px);
    justify-content: flex-end;
    gap: 1vh;
    font-weight: 500;
    align-items: end;

    .modifiedPrice {
        font-size: 1.2rem;
        color: map-get(map-get($colors, "gray"), "500");
        text-decoration: line-through;
    }

    .price {
        font-size: 1.5rem;
        color: map-get(map-get($colors, "orange"), "500");
    }
}

.separator {
    width: 1px;
    background-color: #e1dede; 
    margin: 0 20px;
    align-self: stretch; 
}

