@import '../../index.scss';

.container {
    max-width: 100%;
    background-color: map-get($map: map-get($colors, "gray"), $key: "900");
    padding: calc(3vh + 8px) 10vw;
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1vh;
    min-width: 20vw;

    .headerText {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .subHeaderText {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .link { 
        color: rgb(177, 177, 177); 
        text-decoration: none; 
        transition: color 0.3s ease; // Smooth transition for color change

        &:hover {
            color: map-get($map: map-get($colors, "blue"), $key: "500"); // Changes color on hover, adjust as needed
        }
    }
}