@import '../../index.scss';

.iconContainer {
    color: map-get($map: map-get($colors, "blue"), $key: "300");
    font-size: 1.3rem;
    transition: background-color 0.3s;
}

.textContainer {
    font-weight: 500;
    font-size: medium;
}

.buttonContainer {
    padding-block: calc(6px + 0.8vh);
    padding-inline: calc(6px + 1vw);
    display: flex;
    align-items: center;
    gap: calc(4px + 0.4vw);
    background-color: #ffffff;
    transition: background-color 0.3s;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        mix-blend-mode: multiply; 
    }
}

.activeButton {
    color: white;
    background-color: map-get($map: map-get($colors, "blue"), $key: "300");
    padding-block: calc(6px + 0.8vh);
    padding-inline: calc(6px + 1vw);
    display: flex;
    align-items: center;
    cursor: pointer;
}
