@import '../../index.scss';


.searchBar {
    border-style: none;
    border-radius: 12px;
    height: 24px;
    width: 98%;
    outline: 0;
    font-size: 0.9rem;
    &:focus {
        border-style: solid;
        box-shadow: 0 0 0 1px map-get(map-get($colors, "blue"), "500"); 
        border-color: map-get(map-get($colors, "blue"), "500"); 
    }

    position: relative;
    z-index: 105;
}